@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
:root{
    font-family: 'Prompt', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(250, 249, 239);

}
*{
    font-family: 'Prompt';
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
h1{
    font-size: 2.6em;
    color: #20263b;
    margin-top: 0;
}
img{
    width: 10%;
}
.container{
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background: #8ecae6;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 1em;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

}
input{
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
}
.inputelement{
    margin: 1%;
    width: 35%;
    align-self: center;
}

.operator{
    width: 10%; 
    align-self: flex-end; 
    padding: 2px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}
.btnClick{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn{
    width: 20%;
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 5px;
    word-wrap:break-word;
}
.btn-cal{
    background: #023047;  
}
.btn-reset{
    background: #ffb703;
}
.btn-cal:hover{
    background: #fb8500;
    border: none;
    cursor: pointer;
}
.btn-reset:hover{
    background: #219ebc;
    color: white;
    border: none;
    cursor: pointer;
}
.result{
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
span{
    background: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}