.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 10px 70px;
    padding: 15px;
}
img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.name {
    width: 300px;
    margin-right: 10px;
}
.quantity {
    margin-right: 60px;
}

input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 18px;
}

button {
    border: none;
    background-color: rgb(182, 39, 39);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

