
.Learning-Time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1px;
}
/* body{
    background-color: #00B6BC !important;
} */
.containerBody{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.containerBody p{
    margin-left: 20px;
    line-height: 1px;
    color: #dedede;
}