ul{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

h1{
    font-size: 28px;
    text-align: center;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.delete{
    background-color: rgb(236, 186, 186);
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px grey;
    margin: 20px 5px;
    padding: 25px;
    font-size: 20px;
    border-radius: 5px;
}