.header h1 {
    color: white;
}

.btn-filter:hover,
.btn-sort:hover {
    background-color: #FFD802;
}

.aria-box {
    color: #02315E;
    font-weight: bold;
}

.back-btn {
    background-color: transparent;
    border-radius: 4em;
}

.back-btn:hover {
    background-color: #FFD802;
    border-radius: 4em;
}

@media screen and (min-width: 400px) {
    .btn-filter {
        position: absolute;
        top: 31%;
        left: 12%;
        padding: 15px;
        margin-right: 20px;
    }
    .btn-sort {
        position: absolute;
        top: 31%;
        left: 40%;
        padding: 15px;
    }
}

@media screen and (min-width: 720px) {
    .btn-filter {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 75px; */
        left: 5%;
    }
    .btn-sort {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 200px; */
        left: 13%;
    }
}

@media screen and (min-width: 720px) {
    .btn-filter {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 75px; */
        left: 5%;
    }
    .btn-sort {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 200px; */
        left: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .btn-filter {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 75px; */
        left: 5%;
    }
    .btn-sort {
        position: absolute;
        padding: 15px;
        /* top: 270px;
        left: 200px; */
        left: 15%;
    }
}