body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
  min-height:100vh ;
}

button{
  background-color: rgb(126, 2, 2);
  color:#fff;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
}