.container-banner{
    margin: 20px auto;
    min-width: 90%;
    height: 23vh;
    background-image:url(../imgs/banner.jfif);
    background-position: top;
    background-size: cover;
    border-radius: 15px;
  }