#swipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.switch {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 25px;
}

.switch input {
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #1e1e1e;
  outline: none;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  font-weight: bolder;
}

.switch input:checked {
  background-color: #1e1e1e;
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 4px;
  border-radius: 20px;
}
.switch input {
  transition: 0.25s;
}

.switch input:checked::after,
.switch input:checked::before {
  color: #fff;
  transition: color 0.5s;
}

.switch input:checked + label {
  left: 88%;
  right: 10px;
  background: #fff;
  transition: right 0.5s, left 0.4s 0.2s;
}
.switch input:not(:checked) {
  background-color: #1e1e1e;
  transition: background-color 0.4s;
}

.switch input:not(:checked)::before {
  color: #ffff;
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: #1e1e1e;
  transition: color 0s 0.2s;
}

.switch input:not(:checked) + label {
  left: 10px;
  right: 88%;
  background-color: white;
  transition: right 0.4s 0.2s, left 0.5s, background-color 0.35s;
}
