span{
    font-weight: bold;
}
p,li{
    font-size: 25px;
    margin-left: 30rem;
}
img {
    border-radius: 50%;
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 25px;
}
h1{
   text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}